--text: #100420;
--background: #f4eefc;
--primary: #6c26df;
--secondary: #ee8ce2;
--accent: #e44ea1;


@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20SC:700|Noto%20Sans%20SC:400');

@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20Elymaic:700|Noto%20Sans%20Elymaic:400');

body {
  font-family: 'Noto Sans Elymaic';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Noto Sans Elymaic';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}Home

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}
